# Hugo default/generated output directories
/public/
resources/_gen/
assets/jsconfig.json

# Hugo cache and temporary files
.hugo_build.lock
.hugo-cache/
.sass-cache/
hugo_stats.json

# Executable may be added to repository
hugo.exe
hugo.darwin
hugo.linux

# Temporary lock file while building
/.hugo_build.lock

# Editor
.idea/