{{ define "main" }}
<div class="home-container">
  <div class="home-image">
    <img src="{{ .Site.BaseURL }}images/palm-home.jpg" alt="Home">
  </div>
  <div class="social-icons">
    <a href="https://github.com/colpalm" class="social-icon" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://linkedin.com/in/palmercolin" class="social-icon" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</div>
{{ end }}