{{ $id := .Get "id" | default (printf "chart-%d" (now.UnixNano)) }}
{{ $height := .Get "height" | default "400" }}
{{ $width := .Get "width" | default "100%" }}
{{ $type := .Get "type" | default "line" }}
{{ $title := .Get "title" | default "" }}
{{ $xTitle := .Get "xTitle" | default "" }}
{{ $yTitle := .Get "yTitle" | default "" }}
{{ $dataFile := .Get "dataFile" }}

<!-- Get chart data -->
{{ $chartData := dict }}
{{ with .Get "dataFile" }}
  {{ $chartData = index site.Data (replace . ".json" "") }}
{{ else }}
  {{ $chartData = .Inner | unmarshal }}
{{ end }}

<div class="chart-container" style="height: {{ $height }}px; width: {{ $width }};">
  <canvas
    id="{{ $id }}"
    data-chart-type="{{ $type }}"
    {{ if $title }}data-chart-title="{{ $title }}"{{ end }}
    {{ if $xTitle }}data-chart-xtitle="{{ $xTitle }}"{{ end }}
    {{ if $yTitle }}data-chart-ytitle="{{ $yTitle }}"{{ end }}
    data-chart-rawdata="{{ $chartData | jsonify | safeJS }}"
  ></canvas>
</div>