{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonony.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
{{- $label := (index . 0).Parent.LinkTitle }}
<div class="taxonomy-terms">
  <span class="taxonomy-label">{{ $label }}:</span>
  <ul class="taxonomy-list-inline">
    {{- range . }}
    <li class="taxonomy-term"><a href="{{ .RelPermalink }}" class="tag-link">{{ .LinkTitle }}</a></li>
    {{- end }}
  </ul>
</div>
{{- end }}